@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Veterinaria Equus</h1>
    <img src="https://image.shutterstock.com/image-vector/vector-image-horse-running-gallop-260nw-1262246914.jpg" width="550" alt="imagen ejemplo" border="4">
</div>
